
:root{
    --primary: 158 36% 37%;
    --secondary: 30 38% 92%;
    --dark-blue: 212 21% 14%;
    --grayish-blue: 228 12% 48%;
    --white: 0 0% 100%;
}

body {
    /* overflow: hidden; */
    display: flex;
    place-content: center;
    background-color: hsl(var(--secondary));
}

.product{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    margin: auto;
}

.product__image {
    position: relative;
    height: 200%;
}

.product__image img {
    min-height: 800px;
}

.category {
    color: hsl(var(--grayish-blue) / 0.5);
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.product__info{
    background-color: hsl(var(--white)); 
    padding: 1em 2em;
    
}

.product__info .header--text {
    color: hsl(var(--primary));
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
    width: 15ch;
}

.product__info .description {
    color: hsl(var(--grayish-blue) / 0.75);
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0.5em 0;
}


.price{
    color: hsl(var(--grayish-blue));
    font-size: 1.7rem;
    margin: 1em 0;
}

.price .discounted-price {
    color: hsl(var(--primary));
    font-size: 2.4rem;
    font-weight: 700;
    margin-right: 0.5em;
}

.attribution {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 1.5rem;
    padding: 1em 0;
    color: hsl(var(--primary));
}

@media (max-width: 500px){
    body{
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    .product__info .header--text{
        width: 100%;
    }
    .product {
        grid-template-columns: 1fr;
    }
    .attribution{
        position: static;
    }
}

.product__info button {
    background-color: hsl(var(--primary));
    border: none;
    border-radius: 5px;
    color: hsl(var(--white));
    cursor: pointer;
    display: flex;
    place-content: center;
    place-items: center;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 0.25em 0;
    width: 100%;
}

.product__info button:hover{
    background-color: hsl(var(--dark-blue));
}

.cart-icon{
    width: 1.6rem;
    aspect-ratio: 1;
    margin-right: 0.5em;
}