/*  */

:root{
    --clr-white: 0 0% 100%;
    --clr-gray: 212 45% 89%;
    --clr-grayish_blue: 220 15% 55%;
    --clr-blue: 218 44% 22%;
    --fs: 0.9375rem;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: "Outfit", sans-serif;
}

.container{
    padding-inline: 2rem;
    background-color: hsl(var(--clr-gray));
}

.container .qr-card{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: hsl(var(--clr-white));
    border-radius: 1.2rem;
}


.imgContainer{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.imgContainer img{
    width: 100%;
    object-fit: cover;
}

.qr-card p{
    color: hsl(var(--clr-grayish_blue));
    text-align: center;
    font-size: var(--fs);
}

.qr-card h1, .qr-card p{
    padding-inline: 1rem;
}

.attribution{
    margin-top: 2rem;
}