/*  */

:root{
    --clr-white: 0 0% 100%;
    --clr-gray: 212 45% 89%;
    --clr-grayish_blue: 220 15% 55%;
    --clr-blue: 218 44% 22%;
    --fs: 0.9375rem;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

/* h1,
p{
    margin: 0;
} */

body{
    max-height: 100vh;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(var(--clr-gray));
}

.qr-card{
    aspect-ratio: 0.9;
    background-color: hsl(var(--clr-white));
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    max-width: 800px;
    /* this value work the best for all viewports */
    width: 50%;
}

.imgContainer{
    display: flex;
    justify-content: center;
}
.imgContainer img{
    max-width: 80%;
    object-fit: cover;
}

.qr-card p{
    color: hsl(var(--clr-grayish_blue));
    text-align: center;
}

.attribution{
    margin-top: 2rem;
}
/* for mobile device */
@media (max-width: 375px){
    .qr-card{
        width: 100%;
    }
}